.valorPar {
  background: #ccc;
}

.stock-bajo {
  background-color: red;
  color: #ffffff;
}

.stock-medio {
  background-color: yellow;
}

.stock-alto {
  background-color: green;
  color: white;
}
