<p appGatoBotas appFondoVerdeClick>Soy el maravilloso gato con botas</p>

<div appFondoVerdeClick>
  <h1>Hola mundo</h1>
  <h2>Adios mundo</h2>
</div>

<p [ngClass]="{'clase1':  3 > 6}">Este es un párrafo</p>
<p [ngStyle]="{'background-color': colorFondo}">Otro párrafo</p>


<p class="error" *ngIf="colorFondo === 'red'">El campo es requerido</p>
<div *ngIf="colorFondo === 'red'; else noEsVerde">
  <h1>Color fondo es rojo</h1>
</div>



<ng-template #noEsVerde>
  <div>
    <h1>Color fondo no es rojo</h1>
  </div>
</ng-template>

<div class="ciudades">
  <h2>Ciudades:</h2>
  <ul>
    <li *ngFor="let ciudad of ciudades; let i = index; let impar = even; let total = count; let primero = first;" [ngClass]="{'valorPar': impar}">{{ i + 1 }} de {{ total }}. {{ ciudad }}</li>
  </ul>
</div>



<div class="ciudades">
  <h2>Ciudades:</h2>
  <ul>
    <li *ngFor="let ciudad of ciudades;">
      {{ ciudad }}
      <div [ngSwitch]="ciudad">
        <p *ngSwitchCase="'Almería'">(Andalucía)</p>
        <p *ngSwitchCase="'Granada'">(Andalucía)</p>
        <p *ngSwitchCase="'Madrid'">(Madrid)</p>
        <p *ngSwitchCase="'Cartagena'">(Murcia)</p>
        <p *ngSwitchDefault>(Otra comunidad)</p>
      </div>
    </li>
  </ul>
</div>


<div class="productos">
  <ul>
    <li *ngFor="let producto of productos">
      <span [ngClass]="{'stock-bajo': producto.stock < 15, 'stock-medio': producto.stock >= 15 && producto.stock < 25, 'stock-alto': producto.stock >= 25}">{{ producto.nombre }} - {{ producto.stock }}ud.</span>
    </li>
  </ul>
</div>

<div class="productos">
  <ul>
    <li *ngFor="let producto of productos">
      <span [ngStyle]="{'background-color': getNivelStock(producto.stock) }">{{ producto.nombre }} - {{ producto.stock }}ud.</span>
    </li>
  </ul>
</div>

@if (3 > 1) {
  <p>3 es mayor que 1</p>
} @else if (3 > 2){
  <p>3 es menor que 1</p>
}

@for (producto of productos; track $index) {
  <p>{{producto.nombre}}</p>
}

@for (ciudad of ciudades; track $index) {
  {{ ciudad }}
  @switch (ciudad) {
    @case ('Almería') { (Andalucía) }
    @default {}
  }
}
