<h1>Fecha: {{ fecha | date: "EEEE, dd 'de' MMMM 'de' yyyy G"  }}</h1>
<h1>Fecha: {{ fecha | date: "longDate"  }}</h1>
<h1>Decimal: {{ decimal | number:'1.1-5' }}</h1>
<h1>Precios: {{ decimal | currency:'EUR':'symbol':'1.2-2' }}</h1>
<h1>Texto: {{ texto | uppercase }}</h1>
<h1>Texto: {{ texto | lowercase }}</h1>
<h1>Porcentaje: {{ 0.7525 | percent:'1.2-2' }}</h1>
<h1>Slice: {{ 'Hola mundo' | slice:2:6 }}</h1>
<h1>Slice: {{ 'Hola mundo' | slice:-4 }}</h1>
<h1>Slice: {{ [1, 2, 3, 4, 5, 6, 7, 8] | slice:2:5 }}</h1>

<h1>Pipe personalizado: {{ 8 | potenciaDosPipe }}</h1>

<pre>JSON: {{ objeto | json }}</pre>

