<h1>Aplicación Angular con rutas</h1>
<ul>
  <li>
    <a routerLink="/recetas" routerLinkActive="actual" >Recetas</a>
    <ul>
      <li><a [routerLink]="['/receta', 'paella']">Paella</a> - <a [routerLink]="['/receta', 'paella', 'ingredientes']">Ver ingredientes</a>
        <ul>
          <li><a [routerLink]="['/receta', 'paella']" [queryParams]="{tipo: 'valenciana', variedad: 'carne'}">Con carne</a></li>
          <li><a [routerLink]="['/receta', 'paella']" [queryParams]="{tipo: 'valenciana', variedad: 'marisco'}">Con marisco</a></li>
          <li><a [routerLink]="['/receta', 'paella']" [queryParams]="{tipo: 'valenciana', variedad: 'verdura'}">Con verdura</a></li>
          <li><a [routerLink]="['/receta', 'paella']" [queryParams]="{tipo: 'valenciana', variedad: 'mixta'}">Mixta</a></li>
          <li><a [routerLink]="['/receta', 'paella']" [queryParams]="{tipo: 'valenciana', variedad: 'mixta'}" fragment="socarrat">Mixta Socarrat</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/receta', 'migas']">Migas</a></li>
    </ul>
  </li>
  <li>
    <a routerLink="/ingredientes" routerLinkActive="actual">Ingredientes</a>
  </li>
</ul>

<ul>
  <li>
    <button (click)="redireccionar('recetas')">Recetas</button>
    <ul>
      <li><button (click)="cargarReceta('paella')">Paella</button>
        <ul>
          <li><button (click)="cargarReceta('paella', 'valenciana', 'carne')">Con carne</button></li>
          <li><button (click)="cargarReceta('paella', 'valenciana', 'marisco')">Con marisco</button></li>
          <li><button (click)="cargarReceta('paella', 'valenciana', 'verdura')">Con verdura</button></li>
          <li><button (click)="cargarReceta('paella', 'valenciana', 'mixta')">Mixta</button></li>
          <li><button (click)="cargarReceta('paella', 'valenciana', 'mixta', true)">Mixta con Socarrat</button></li>
        </ul>
      </li>
      <li><button (click)="cargarReceta('migas')">Migas</button></li>
    </ul>
  </li>
  <li>
    <button (click)="redireccionar('ingredientes')">Ingredientes</button>
  </li>
</ul>

<router-outlet />
