<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <label>
    Nombre:
    <input type="text" name="nombre" formControlName="nombre">
    <p class="error" *ngIf="formulario.get('nombre')?.errors && formulario.get('nombre')?.dirty">El campo es requerido</p>
  </label>
  <label>
    Correo electrónico:
    <input type="email" name="correo" formControlName="correo">
    <p class="error" *ngIf="formulario.get('correo')?.errors && formulario.get('correo')?.dirty">
      <span *ngIf="formulario.get('correo')?.errors?.['required']">El campo es obligatorio</span>
      <span *ngIf="formulario.get('correo')?.errors?.['email']">El correo electrónico no es válido</span>
      <span *ngIf="formulario.get('correo')?.errors?.['minlength']">El correo debe tener más de 4 caracteres</span>
    </p>
  </label>

  <button type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>
