<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <label>
    Nombre:
    <input type="text" name="nombre" formControlName="nombre">
    <p class="error" *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.dirty">El campo es requerido</p>
    <p class="error" *ngIf="formulario.get('nombre')?.errors?.['length'] && formulario.get('nombre')?.dirty">El nombre tiene que tener 6 caracteres</p>
  </label>
  <label>
    Correo electrónico:
    <input type="email" name="correo" formControlName="correo">
    <p class="error" *ngIf="formulario.get('correo')?.errors && formulario.get('correo')?.dirty">
      <span *ngIf="formulario.get('correo')?.errors?.['required']">El campo es obligatorio</span>
      <span *ngIf="formulario.get('correo')?.errors?.['email']">El correo electrónico no es válido</span>
      <span *ngIf="formulario.get('correo')?.errors?.['minlength']">El correo debe tener más de 4 caracteres</span>
    </p>
  </label>

  <label>
    Contraseña:
    <input type="password" name="password" formControlName="password">
    <p class="error" *ngIf="getPassword().errors?.['required'] && getPassword().dirty">El campo es requerido</p>
    <p class="error" *ngIf="getPassword().errors?.['length'] && getPassword().dirty">La contraseña tiene que tener 6 caracteres</p>
  </label>

  <label>
    Repite contraseña:
    <input type="password" name="repitePassword" formControlName="repitePassword">
    <p class="error" *ngIf="getRepitePassword().errors && getRepitePassword().dirty">El campo es requerido</p>
    <p class="error" *ngIf="formulario.errors?.['passwordsDistintos']">Las contraseñas no son iguales</p>
  </label>

  <button type="submit" [disabled]="formulario.invalid">Enviar</button>
</form>
