/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$mi-primario: mat.define-palette(mat.$blue-palette, 200);
$mi-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$mi-tema: mat.define-light-theme((
  color: (
    primary: $mi-primario,
    accent: $mi-accent
  )
));

@include mat.all-component-themes($mi-tema);
