<h2 mat-dialog-title>Diálogo de ejemplo</h2>
<mat-dialog-content>
  <p>Este es el contenido del diálogo de ejemplo.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium facere quis sunt, accusamus, libero esse quod sint veniam minus neque nisi rem tenetur ullam aut temporibus quo sapiente, cumque itaque?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close="no" color="warn">No</button>
  <button mat-button [mat-dialog-close]="'sí'" color="primary">Sí</button>
</mat-dialog-actions>
